.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--sp-6);
  height: var(--sp-12);
  min-height: var(--sp-12);
  background-color: var(--color-primary);
  color: var(--color-white);
}

.header__title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  line-height: 1;
}
